<% if contact_request.status == 'open' %>
  <div>
    <button type="button" class="btn dropdown-toggle button-pending status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Pending
    </button>
    <div class="dropdown-menu" id="dropdownButton">
      <a class="dropdown-item js-updateContact" id="denied" data-status="denied" data-contact-id=<%= contact_request.id %> data-path=<%= contact_update_path(status: 'Denied', contact_request_id: contact_request.id) %> >Denied</a>
      <a class="dropdown-item js-updateContact" id="accepted" data-status="accepted" data-contact-id=<%= contact_request.id %> data-path=<%= contact_update_path(status: 'Accepted', contact_request_id: contact_request.id) %>>Accepted</a>
    </div>
  </div>
<% else %>
  <% if contact_request.status == 'Denied' %>
    <button type="button" class="btn status button-denied" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= contact_request.status %>
    </button>
  <% else %>
    <button type="button" class="btn status button-accepted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= contact_request.status %>
    </button>
  <% end %>
<% end %>
