

  <div class="content-wrapper">
    <div style="margin-bottom: 32px">
      <div class="dashboard-container" style="margin-bottom:20px;" >
        <div class="tabs-bar">
          <h2 class="my-bands" id="confirmed-bands-btn">CONFIRMED BANDS</h2>
          <h2 class="my-bands" id="pending-bands-btn">PENDING BANDS</h2>
        </div>
        <div class="confirmed-bands tab-active">
            <p style="color: grey"><%= "No bands created at this point." if @events.size < 1 %></p>
            <% @events.order(created_at: :desc).each do |event| %>
              <div class="event">
                <div class="event-top d-flex flex-row justify-content-between">
                  <div class="event-left">
                    <div class="event-header">
                      <h3><%= event.genre %> - <%= event.title %></h3>
                      <div class="event-tag">
                        <p><strong><%= event.event_type %></strong></p>
                      </div>
                      <p style="color: grey"><i class="fas fa-map-marker-alt"></i> <%= event.location %></p>
                    </div>
                  </div>

                  <div class="event-right">
                    <%= link_to event_path(event) do %>
                      <button class='event-action' id='contact-btn-small'>Details</button>
                    <% end %>
                  </div>
                </div>

                <div class="event-musicians d-flex flex-row">
                  <% event.contact_requests.each do |contact_request| %>
                  <div class="card-accepted">
                    <%= render 'events/user_card', user: contact_request.user, event: event %>
                    <div id="anchor_<%= contact_request.id %>">
                      <%= render "dashboard/contact_status", contact_request: contact_request %>
                    </div>
                  </div>
                  <% end %>

                  <% event.instruments_array.each do |instrument| %>
                    <div class="card-accepted">
                    <%= render 'events/user_card_vacant', instrument: instrument %>
                      <button type="button" class="btn button-awaiting status">
                        Awaiting
                      </button>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
        </div>

        <div class="pending-bands">
          <p style="color: grey"><%= "No contact requests sent at this point." if @contact_requests.size < 1 %></p>
            <% @contact_requests.order(created_at: :desc).where(status: 'open').each do |request| %>
             <div class="event">
               <div class="event-top d-flex flex-row justify-content-between">
                 <div class="event-left">
                   <div class="event-header">
                     <h3><%= request.event.genre %> - <%= request.event.title %></h3>
                     <div class="event-tag">
                       <p><strong><%= request.event.event_type %></strong></p>
                     </div>
                     <p style="color: grey"><i class="fas fa-map-marker-alt"></i> <%= request.event.location %></p>
                   </div>
                 </div>

                 <div class="event-right">
                   <%= link_to event_path(request.event) do %>
                     <button class='event-action' id='contact-btn-small'>Details</button>
                   <% end %>
                 </div>
               </div>

               <div class="event-musicians d-flex flex-row">
                 <% request.event.contact_requests.each do |contact_request| %>
                 <div class="card-accepted">
                   <%= render 'events/user_card', user: contact_request.user, event: request.event %>
                   <% if contact_request.status == 'open' %>
                     <div>
                       <button type="button" class="btn button-pending status">
                         Pending
                       </button>
                     </div>
                   <% else %>
                     <% if contact_request.status == 'Denied' %>
                       <button type="button" class="btn status button-denied" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <%= contact_request.status %>
                       </button>
                     <% else %>
                       <button type="button" class="btn status button-accepted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <%= contact_request.status %>
                       </button>
                     <% end %>
                   <% end %>
                 </div>
                 <% end %>

                 <% request.event.instruments_array.each do |instrument| %>
                   <div class="card-accepted">
                   <%= render 'events/user_card_vacant', instrument: instrument %>
                     <button type="button" class="btn button-awaiting status">
                       Awaiting
                     </button>
                   </div>
                 <% end %>
               </div>
             </div>
            <% end %>
          </div>
        </div>

        <input type="hidden" value= <%= session[:_csrf_token] %> id="csrf_token">
      </div>
    </div>
  </div>

<!--   <h3>Users' requests on my bands</h3>
  <%# @events.each do |event| %>
    <%# event.contact_requests.each do |contact_request| %>
      <div class="event d-flex flex-row justify-content-between">
        <div class="event-left">
          <div class="event-header">
            <h3><%#= event.title %> - <%#= event.genre %></h3>
            <p style="color: rgb(31, 70, 175)">Desired instruments: <strong><%#= event.instruments_array.join(", ") %></strong></p>
            <p style="color: grey"><em>Last updated: <%#= event.updated_at %></em></p>
          </div>

          <div class="event-content d-flex">
            <%# if contact_request.user.profile_picture.attached? %>
              <%#= image_tag(contact_request.user.profile_picture, class: "avatar-large") %>
            <%# else %>
              <img src='https://res.cloudinary.com/dh8tpzykj/image/upload/v1582203695/avatar_empty_ghdihw.png' class="avatar-large" />
            <%# end %>
            <div>
              <p><small><%#= contact_request.user.nick_name %></small></p>
              <p><%#= event.location %></p>
            </div>
          </div>
        </div>

        <div class="event-right">
          <p><small>Open availabilities: <%#= event.places_left %></small></p>
          <p><small><%#= event.event_type %></small></p>
          <div id="anchor_<%#= contact_request.id %>">
            <%#= render "dashboard/contact_status", contact_request: contact_request %>
          </div>
          <button class="event-action" id="contact-btn-small"> <%#= link_to "Details", event_path(event) %></button>
        </div>
      </div>
    <%# end %>
  <%# end %>

</div> -->
<!-- <ul>
<%# @events.each do |event| %>
<li>
<%#= event.to_json %>
</li>
<%# end  %>
</ul>
 -->
<%# @contact_requests.each do |request| %>
<%#= request.instrument.name %>
<%# end  %>

<%# @events.each do |event| %>
  <%# event.contact_requests.each do |contact_request| %>
    <%#= contact_request.user.nick_name %>
    <%#= contact_request.user.id %>
  <%# end %>
<%# end  %>



<!--           <div class="event d-flex flex-row justify-content-between contact-request">

            <div class="event-left">
              <div class="event-header">
                <h3><%#= request.event.title %> - <%#= request.event.genre %></h3>
                <p class="desired-instruments">Desired instruments: <strong><%#= request.instrument.name %></strong></p> -->
                <!-- <p style="color: grey"><em>Last updated: <%#= request.event.updated_at %></em></p> -->
<!--               </div>

              <div class="event-content d-flex"> -->
                <%#= render 'events/user_card', user: request.event.user, event: request.event %>
<!--                 <%# if request.event.user.profile_picture.attached? %>
                  <%#= image_tag(request.event.user.profile_picture, class: "avatar-large") %>
                <%# else %>
                  <img src='https://res.cloudinary.com/dh8tpzykj/image/upload/v1582203695/avatar_empty_ghdihw.png' class="avatar-large" />
                <%# end %>
                <div>
                  <p><small><%#= request.event.user.nick_name %></small></p>
                  <p><%#= request.event.location %></p>
                </div> -->
<!--               </div>
            </div>

            <div class="event-right ">
              <button class="event-action" id="contact-btn-small"> <%#= link_to "Details", event_path(request.event) %></button>
              <%# if request.status == 'Denied' %>
                <button type="button" class="btn status button-denied" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%#= request.status %>
                </button>
              <%# elsif request.status == 'Accepted' %>
                <button type="button" class="btn status button-accepted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%#= request.status %>
                </button>
              <%# else %>
                <button type="button" class="btn status button-pending" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pending
                </button>
              <%# end %>
            </div>
          </div> -->


