

<body style="background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.4) 100%),url('https://images.unsplash.com/photo-1501612780327-45045538702b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80'); background-size: cover; background-attachment: fixed; opacity: 0.88;">
  <div class="content-wrapper">
    <div style="margin-bottom: 32px">
      <div class="dashboard-container" >

        <h2 class="my-bands">MY BANDS</h3>
          <p style="color: grey"><%= "No bands created at this point." if @events.size < 1 %></p>
          <% @events.order(created_at: :desc).each do |event| %>
            <div class="event">
              <div class="event-top d-flex flex-row justify-content-between">
                <div class="event-left">
                  <div class="event-header">
                    <h3><%= event.genre %> - <%= event.title %></h3>
                    <div class="event-tag">
                      <p><strong><%= event.event_type %></strong></p>
                    </div>
                    <p style="color: grey"><i class="fas fa-map-marker-alt"></i> <%= event.location %></p>
                  </div>
                </div>

                <div class="event-right">
                  <%= link_to event_path(event) do %>
                    <button class='event-action' id='contact-btn-small'>Details</button>
                  <% end %>
                </div>
              </div>

              <div class="event-musicians d-flex flex-row">
                <% event.contact_requests.each do |contact_request| %>
                <div class="card-accepted">
                  <%= render 'events/user_card', user: contact_request.user, event: event %>
                  <div id="anchor_<%= contact_request.id %>">
                    <%= render "dashboard/contact_status", contact_request: contact_request %>
                  </div>
                </div>
                <% end %>

                <% event.instruments_array.each do |instrument| %>
                  <div class="card-accepted">
                  <%= render 'events/user_card_vacant', instrument: instrument %>
                    <button type="button" class="btn dropdown-toggle button-pending status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Pending
                    </button>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>


        <h2 class="my-bands">MY CONTACT REQUESTS</h3>
        <p style="color: grey"><%= "No contact requests sent at this point." if @contact_requests.size < 1 %></p>
        <% @contact_requests.each do |request| %>
          <div class="event d-flex flex-row justify-content-between contact-request">

            <div class="event-left">
              <div class="event-header">
                <h3><%= request.event.title %> - <%= request.event.genre %></h3>
                <p class="desired-instruments">Desired instruments: <strong><%= request.instrument.name %></strong></p>
                <!-- <p style="color: grey"><em>Last updated: <%#= request.event.updated_at %></em></p> -->
              </div>

              <div class="event-content d-flex">
                <%= render 'events/user_card', user: request.event.user, event: request.event %>
<!--                 <%# if request.event.user.profile_picture.attached? %>
                  <%#= image_tag(request.event.user.profile_picture, class: "avatar-large") %>
                <%# else %>
                  <img src='https://res.cloudinary.com/dh8tpzykj/image/upload/v1582203695/avatar_empty_ghdihw.png' class="avatar-large" />
                <%# end %>
                <div>
                  <p><small><%#= request.event.user.nick_name %></small></p>
                  <p><%#= request.event.location %></p>
                </div> -->
              </div>
            </div>

            <div class="event-right ">
              <button class="event-action" id="contact-btn-small"> <%= link_to "Details", event_path(request.event) %></button>
              <% if request.status == 'Denied' %>
                <button type="button" class="btn status button-denied" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= request.status %>
                </button>
              <% elsif request.status == 'Accepted' %>
                <button type="button" class="btn status button-accepted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= request.status %>
                </button>
              <% else %>
                <button type="button" class="btn status button-pending" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pending
                </button>
              <% end %>
            </div>
          </div>
        <% end %>

        <input type="hidden" value= <%= session[:_csrf_token] %> id="csrf_token">
      </div>
    </div>
  </div>
</body>
<!--   <h3>Users' requests on my bands</h3>
  <%# @events.each do |event| %>
    <%# event.contact_requests.each do |contact_request| %>
      <div class="event d-flex flex-row justify-content-between">
        <div class="event-left">
          <div class="event-header">
            <h3><%#= event.title %> - <%#= event.genre %></h3>
            <p style="color: rgb(31, 70, 175)">Desired instruments: <strong><%#= event.instruments_array.join(", ") %></strong></p>
            <p style="color: grey"><em>Last updated: <%#= event.updated_at %></em></p>
          </div>

          <div class="event-content d-flex">
            <%# if contact_request.user.profile_picture.attached? %>
              <%#= image_tag(contact_request.user.profile_picture, class: "avatar-large") %>
            <%# else %>
              <img src='https://res.cloudinary.com/dh8tpzykj/image/upload/v1582203695/avatar_empty_ghdihw.png' class="avatar-large" />
            <%# end %>
            <div>
              <p><small><%#= contact_request.user.nick_name %></small></p>
              <p><%#= event.location %></p>
            </div>
          </div>
        </div>

        <div class="event-right">
          <p><small>Open availabilities: <%#= event.places_left %></small></p>
          <p><small><%#= event.event_type %></small></p>
          <div id="anchor_<%#= contact_request.id %>">
            <%#= render "dashboard/contact_status", contact_request: contact_request %>
          </div>
          <button class="event-action" id="contact-btn-small"> <%#= link_to "Details", event_path(event) %></button>
        </div>
      </div>
    <%# end %>
  <%# end %>

</div> -->
<!-- <ul>
<%# @events.each do |event| %>
<li>
<%#= event.to_json %>
</li>
<%# end  %>
</ul>
 -->
<%# @contact_requests.each do |request| %>
<%#= request.instrument.name %>
<%# end  %>

<%# @events.each do |event| %>
  <%# event.contact_requests.each do |contact_request| %>
    <%#= contact_request.user.nick_name %>
    <%#= contact_request.user.id %>
  <%# end %>
<%# end  %>



