<div class="content-wrapper">
  <div class="show-container" >

    <h3>My bands</h3>
    <% @events.each do |event| %>
      <div class="event d-flex flex-row justify-content-between">
        <div class="event-left">
          <div class="event-header">
            <h3><%= event.title %> - <%= event.genre %></h3>
            <p style="color: rgb(31, 70, 175)">Desired instruments: <strong><%= event.instruments_array.join(", ") %></strong></p>
            <p style="color: grey"><em>Last updated: <%= event.updated_at %></em></p>
          </div>

          <div class="event-content d-flex">
            <% if event.user.profile_picture.attached? %>
              <%= image_tag(event.user.profile_picture, class: "avatar-large") %>
            <% else %>
              <img src='https://res.cloudinary.com/dh8tpzykj/image/upload/v1582203695/avatar_empty_ghdihw.png' class="avatar-large" />
            <% end %>
            <div>
              <p><small><%= event.user.nick_name %></small></p>
              <p><%= event.location %></p>
            </div>
          </div>
        </div>

        <div class="event-right">
          <p><small>Open availabilities: <%= event.capacity %></small></p>
          <p><small><%= event.event_type %></small></p>
          <button class="event-action" id="contact-btn-small"> <%= link_to "Details", event_path(event) %></button>
        </div>
      </div>
    <% end %>

    <h3>My contact requests</h3>
    <% @contact_requests.each do |request| %>
      <div class="event-right">
        <p><small>Open availabilities: <%= request.event.capacity %></small></p>
        <p><small><%= request.event.event_type %></small></p>
        <% if request.status == 'Denied' %>
          <button type="button" class="btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= request.status %>
          </button>
        <% elsif request.status == 'Accepted' %>
          <button type="button" class="btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= request.status %>
          </button>
        <% else %>
          <button type="button" class="btn-warning" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pending
          </button>
        <% end %>
        <button class="event-action" id="contact-btn-small"> <%= link_to "Details", event_path(request.event) %></button>
      </div>
    </div>
  <% end %>

  <input type="hidden" value= <%= session[:_csrf_token] %> id="csrf_token">
  <h3>Users' requests on my bands</h3>
  <% @events.each do |event| %>
    <% event.contact_requests.each do |contact_request| %>
      <div class="event d-flex flex-row justify-content-between">
        <div class="event-left">
          <div class="event-header">
            <h3><%= request.event.title %> - <%= request.event.genre %></h3>
            <p style="color: rgb(31, 70, 175)">Desired instruments: <strong><%= request.event.instruments_array.join(", ") %></strong></p>
            <p style="color: grey"><em>Last updated: <%= request.event.updated_at %></em></p>
          </div>

          <div class="event-content d-flex">
            <% if request.event.user.profile_picture.attached? %>
              <%= image_tag(request.event.user.profile_picture, class: "avatar-large") %>
            <% else %>
              <img src='https://res.cloudinary.com/dh8tpzykj/image/upload/v1582203695/avatar_empty_ghdihw.png' class="avatar-large" />
            <% end %>
            <div>
              <p><small><%= request.event.user.nick_name %></small></p>
              <p><%= request.event.location %></p>
            </div>
          </div>
        </div>

        <div class="event-right">
          <p><small>Open availabilities: <%= event.capacity %></small></p>
          <p><small><%= event.event_type %></small></p>
          <div id="anchor_<%= contact_request.id %>">
            <%= render "dashboard/contact_status", contact_request: contact_request %>
          </div>
          <button class="event-action" id="contact-btn-small"> <%= link_to "Details", event_path(event) %></button>
        </div>
      </div>
    <% end %>
  </div>
  <!-- <ul>
  <%# @events.each do |event| %>
  <li>
  <%#= event.to_json %>
  </li>
  <%# end  %>
  </ul>
   -->
  <%# @contact_requests.each do |request| %>
  <%#= request.instrument.name %>
  <%# end  %>

  <%# @events.each do |event| %>
    <%# event.contact_requests.each do |contact_request| %>
      <%#= contact_request.user.nick_name %>
      <%#= contact_request.user.id %>
    <%# end %>
  <%# end  %>
</div>
