<div id="profile-show">
  <div class="content-wrapper">
    <div class="container-profile-index">
      <h2 class="title-profile-index">USERS LIST</h2>
      <div class="profile-index-content">
        <% @users.each do |user| %>
        <div class="card-profile">
          <div class="card-profile-background">
            <% if user.profile_picture.attached? %>
              <%= cl_image_tag user.profile_picture.key, class: "avatar-profile_large" %>
            <% else %>
              <img src='https://res.cloudinary.com/dh8tpzykj/image/upload/v1582203695/avatar_empty_ghdihw.png' class="avatar-profile_large" />
            <% end %>
          </div>
          <div class="card-profile-pseudo"><%= user.nick_name %></div>
          <div class="card-profile-under-pseudo"><%= user.email %></div>
          <div class="card-profile-about">
              <h2>ABOUT</h2>
              <%= user.description %>
            </div>
        </div>
        <% end %>
        <div class="card-profile">
          <% @users.each do |utilisateur| %>
            <%= utilisateur.first_name %>
          <% end %>
        </div>
        <div class="card-profile">
          <% @users.each do |utilisateur| %>
            <%= utilisateur.first_name %>
          <% end %>
        </div>
        <div class="card-profile">
          <% @users.each do |utilisateur| %>
            <%= utilisateur.first_name %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
