<!-- <body style="background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.4) 100%),url('https://images.unsplash.com/photo-1512733596533-7b00ccf8ebaf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80'); background-size: cover; min-height: 100vh; opacity: 0.88;"> -->
<body style="background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.4) 100%),url('https://images.unsplash.com/photo-1505190849153-43410d3c18f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80'); background-size: cover; min-height: 100vh; opacity: 0.88;">
  <!-- <div class="container my-4"><h2>Edit <%= resource_name.to_s.humanize %></h2> -->
  <div class="container-profile">
    <h2 class="title-profile">Edit my profile</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <div class="profile-content">
      <div class="first-profile">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "edit-picture-profile", id: "editProfile" %>
        <div class="upload-avatar">
          <%= f.input :photo, as: :file, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: 'Change photo' %>
        </div>
        <div class="first-row">
          <%= f.input :nick_name, required: false %>
          <%= f.input :age, required: false %>
          <%= f.input :email, required: false %>
        </div>
      </div>
      <div class="second-profile">
        <%= f.input :first_name, required: false %>
        <!-- <#%= f.input :last_name, required: false %> -->
        <%= f.input :first_name, label: 'instrument', required: false %> <!-- user_instruments.instrument_id -->
        <%= f.input :first_name, label: 'repertory', required: false %> <!-- genre_preferences -->
        <%= f.input :first_name, label: 'Instrument proficiency', required: false %> <!-- user_instruments.proficiency -->
        <!-- <#%= f.input :address, required: false %> -->
        <%= f.input :genre_preferences, required: false %>
        <!-- <#%= f.input :user_instruments.proficiency, required: false %> -->
  <!--       <#%= f.input :instrument, required: false %>
        <#%= f.input :repertory, required: false %>
        <#%= f.input :instrument_proficiency, required: false %>
        <#%= f.input :title, required: false %> -->
      </div>
      <div class="third-profile">
        <div class="my-song">MY SONGS</div>
        <div class="my-media">MY VIDEOS</div>
      </div>
    </div>
    <div class="btn-position-profile">
      <%= f.button :submit, "Update", id: "profile-btn" %>
      <% end %>
    </div>
  </div>
</body>
