<div id="profile-show">
  <div class="container-profile">
    <h2 class="title-profile">EDIT MY PROFILE</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <div class="profile-content">
      <div class="first-profile">
        <% if @user.profile_picture.attached? %>
          <%= image_tag(@user.profile_picture, class: "edit-picture-profile", id: "editProfile") %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dh8tpzykj/image/upload/v1582203695/avatar_empty_ghdihw.png", class: "edit-picture-profile", id: "editProfile" %>
        <% end %>
        <div class="upload-avatar">
          <%= f.input :profile_picture, as: :file, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: 'Change photo' %>
          <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'upload-photo' %>
        </div>
        <div class="first-row">
          <%= f.input :nick_name, required: false %>
          <%= f.input :first_name, required: false %>
          <%= f.input :age, required: false %>
        </div>
      </div>
      <div class="second-profile">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :email, required: false %>
        <%= f.input :address, required: false %>
        <%= f.input :genre_preferences, label: 'Repertory', collection: Event::GENRE_ARRAY  %>
        <div class="description-center">My Description</div>
        <%= f.text_area :description, required: false, rows: 3, cols: 47, label: 'Description', required: false  %>
        <%= f.input :current_password,
          # hint: "we need your current password to confirm your changes",
          required: true,
          input_html: { autocomplete: "current-password" } %>
      </div>
      <div class="third-profile">
        <div class="my-song">MY SONGS</div>
        <div class="my-media">MY VIDEOS</div>
<!--         <div class="instrument-center">ADD VIDEO OR SONG</div>
          <div class="instrument-profile">
            <div class="instrument-add">
              <%#= label_tag :instruments %>
              <%#= select_tag :instruments, options_from_collection_for_select(Instrument.all, "id", "name"), include_blank: true, class: 'input-select-tag-profile' %>
            </div>
          </div> -->
        <!-- <div class="instrument-center">MY VIDEOS</div> -->
       <!--  <div class="all-media">
          <div class="instrument-text">
            <#% if @user.user_media.count == 0 %>
              <#%= "empty" %>
              <#% else %>
                <#% @user.user_media.each do |event| %>
                <li>Event: <#%= user_media.title %> (<#%= user_media.music_genre %> / <#%= user_media.medium_type %>)</li>
                <#% end %>
            <#% end %>
          </div>
          <div class="instrument-text">Add a video</div>
        </div>
        <div class="instrument-center">MY SONGS</div>
        <div class="all-media">
          <div class="instrument-text">
            <#% if @user.user_media.count == 0 %>
              <#%= "empty" %>
              <#% else %>
                <#% @user.user_media.each do |event| %>
                <li>Event: <%#= user_media.title %> (<#%= user_media.music_genre %> / <#%= user_media.medium_type %>)</li>
                <#% end %>
            <#% end %>
          </div> -->
<!--           <div class="instrument-text">Add a song</div>
        </div> -->
<!--         <div class="instrument-center">Add an instrument</div>
        <div class="instrument-profile">
          <%#= f.association :instruments, label_method: :name %>
          <div class="instrument-add">
            <%#= label_tag :instruments %>
            <%#= select_tag :instruments, options_from_collection_for_select(Instrument.all, "id", "name"), include_blank: true, class: 'input-select-tag-profile' %>
          </div>
          <div class="instrument-user-add">
            <%#= label_tag :user_instruments %>
            <%#= select_tag :user_instruments, options_from_collection_for_select(Instrument.all, "id", "name"), include_blank: true, class: 'input-select-tag-profile' %>
          </div>
        </div> -->
        <div class="instrument-center">Add an instrument</div>
          <div class="instrument-profile">
            <!-- instrument -> instrument_id -->
            <%= f.association :user_instruments do |ff| %>
              <%= ff.input :instrument, collection: ["Guitare", "Drums", "Piano", "Bass", "Triangle", "Maracass", "French Horn", "Keyboard", "Bass guitar", "Clavichord", "Violin", "Viola", "Cello", "Flute", "Trumpet", "Saxophone", "Clarinet", "Singing", "Organ", "Euphonium"] %>
              <!-- user_instruments -> proficiency -->
              <%= ff.input :proficiency, collection: ['beginner', 'advanced', 'professional'] %>
              <%#= f.association :instruments, label_method: :name  %>
            <% end %>
             <div class="instrument-add">
              <%#= label_tag :instruments %>
              <%#= select_tag :instruments, options_from_collection_for_select(Instrument.all, "id", "name"), include_blank: true, class: 'input-select-tag-profile' %>
            </div>
            <div class="instrument-user-add">
              <%#= label_tag :proficiency %>
              <%#= select_tag :proficiency, options_from_collection_for_select(['beginner', 'advanced', 'professional'], "id", "name"), include_blank: true, class: 'input-select-tag-profile' %>
            </div>
          </div>
        <div class="instrument-center">My instruments</div>
        <div class="instrument-profile">
          <div class="instrument-text">
              <%#= f.association :instruments %>
              <% if @user.user_instruments.empty? %>
                <%= "not renseigned" %>
              <% else %>
                <% @user.user_instruments.each do |instrument| %>
                  <%= instrument.instrument.name %> - (<%= instrument.proficiency %>)
                  <br />
                <% end %>
              <% end %>
            </div>
        </div>
<!--         <div class="bottom-container">
          <%#= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'delete_btn' %> - <#%= link_to "Back", :back, class: 'return_btn' %>
        </div> -->
      </div>
    </div>
    <div class="btn-position-profile">
      <%= f.button :submit, "UPDATE", id: "profile-btn" %>
    </div>
    <% end %>
  </div>
</div>
