
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1499415479124-43c32433a620?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);">
  <div class="container text-center h-50 d-flex justify-content-around align-items-end">
    <h1>Music is all you need</h1>
  </div>

  <div class="event-container search-bar h-50 d-flex align-items-end">
    <%= form_tag events_path, class: "d-flex flew-row", method: :get do %>
      <%= select_tag :genre,
        params[:genre],
        # options_for_select(@genres),
        class: "form-control",
        placeholder: "Genre"
      %>
      <%= select_tag :instrument,
        params[:instrument],
        # collection: Event::EVENT_INSTRUMENTS_ARRAY),
        class: "form-control",
        placeholder: "Instruments"
      %>
      <%= select_tag :event_type,
        params[:event_type],
        # options_for_select(Event::TYPE_EVENT_ARRAY),
        class: "form-control",
        placeholder: "Event type"
      %>
      <%= select_tag :arrondissement,
        params[:arrondissement],
        # options_for_select(0..20),
        class: "form-control",
        placeholder: "Arrondissement"
      %>
    <% end %>
  </div>
</div>
