<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
    <div class="menu-bar d-flex align-items-center">
      <%= link_to "#", class: "navbar-brand" do %>
      <span class="nav-item">
        <%= link_to "#", class: "nav-link button", id: "menuButton" do %>
          <i class="fas fa-bars"></i>
          <%= link_to "#{image_tag("https://res.cloudinary.com/dh8tpzykj/image/upload/v1583342497/solut_log_mmk2w7.png")}".html_safe, root_path %>
          <!--<a href="#"><img src="https://res.cloudinary.com/dh8tpzykj/image/upload/v1583252293/solut_logo_byzsri.png" alt="SOL'UT logo" width="155px"></a>-->
          <!-- <span id="span-solut"><strong>SOL'UT</strong></span> -->
        <% end %>
      </span>
      <!-- <p>Menu</p> -->
        <div id="sideMenu">
          <div>
            <i class="fas fa-times" id="menuClose"></i>
            <ul class="list-group list-group-flush">
              <% if user_signed_in? %>
                <li class="list-group-item"><%= link_to "BROWSE BANDS", events_path %></li>
                <li class="list-group-item"><%= link_to link_to "CREATE BAND", new_event_path %></li>
                <li class="list-group-item"><%= link_to link_to "DASHBOARD", dashboard_path %></li>
                <li class="list-group-item"><%= link_to "MY PROFILE", edit_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
          <div>
            <% if user_signed_in? %>
              <%= link_to "LOG OFF", destroy_user_session_path, method: :delete, id: "log-out-menu" %>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>

  <!-- <p><strong>SOL'UT</strong></p> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <!-- <li class="nav-item active">
          <%#= link_to "BANDS", events_path, class: "nav-link" %>
        </li>-->
        <li class="nav-item active">
          <%= link_to "MY DASHBOARD ", dashboard_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
        <!-- <%#= link_to "CREATE BAND", new_event_path, class: "nav-link" %>
        </li> -->
        <li class="nav-item dropdown">
          <% if current_user.profile_picture.attached? %>
            <%= image_tag(current_user.profile_picture, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/dh8tpzykj/image/upload/v1582203695/avatar_empty_ghdihw.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log in / Register", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


