  <div class="show-event chatroom">
    <% if creator %>
      <h3>Send a message to <%= request.user.nick_name %></h3>
    <% else %>
      <h3>Send a message to <%= event.user.nick_name %></h3>
    <% end %>
    <% messages.each do |message| %>
      <div class="event-content " id="<%= message.id %>">
        <div class="message-container d-flex flex-row <%= "message-right" if message.user == current_user %>">
          <div>
            <% if message.user.profile_picture.attached? %>
              <%= link_to profile_path(message.user) do %>
                <%= cl_image_tag message.user.profile_picture.key, class: "avatar-small" %>
              <% end %>
            <% else %>
              <%= link_to profile_path(message.user) do %>
                <img src='https://res.cloudinary.com/dh8tpzykj/image/upload/v1582203695/avatar_empty_ghdihw.png' class="avatar-small" />
              <% end %>
            <% end %>
          </div>
          <div>
            <p style="color: grey"><small><%= message.user.nick_name %></small></p>
            <%= message.content %>
          </div>
        </div>
      </div>
    <% end %>

    <%= simple_form_for message, remote: true do |f| %>
      <div class="d-flex flex-row align-items-center">
        <div class="chat-form">
          <%= f.input :content, label: false, placeholder: "Please enter your message" %>
          <%= f.input :request, as: :hidden, input_html: { value: request.id } %>
        </div>
        <div class="chat-submit">
          <%= f.submit "Send", class: 'btn btn-secondary chat-input' %>
        </div>
      </div>
    <% end %>
  </div>
