<div class="content-wrapper">
  <% if @events.size < 1 %>
    <p style="color: grey">Unfortunately, there are no events corresponding to this search request.</p>
    <p style="color: grey">Please try again with a new filter.</p>

  <% else %>
    <% @events.order(created_at: :desc).each do |event| %>
      <div class="event">
        <p><small><%= event.event_type %></small></p>
        <div class="d-flex flex-row justify-content-between">
          <div class="event-left">
            <div class="event-header">
              <h3><%= event.genre %> - <%= event.title %></h3>
              <p style="color: grey"><strong><%= event.location %></strong> - <em>Last updated: <%= event.updated_at.strftime('%a %d %b %Y - %H:%M') %></em></p>
            </div>
          </div>

          <div class="event-right">
            <%= link_to event_path(event) do %>
              <button class='event-action' id='contact-btn-small'>Details</button>
            <% end %>
          </div>
        </div>

        <div class="d-flex flex-row">
          <% event.participants.each do |user| %>
            <%= render 'user_card', user: user, event: event %>
          <% end %>

          <% event.instruments_array.each do |instrument| %>
            <%= render 'user_card_vacant', instrument: instrument %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
