<div class="d-flex flex-row align-items-center mx-2">
  <% if user.id %>
    <div class="event-avatar">
      <% if user.profile_picture.attached? %>
        <%= link_to profile_path(user) do %>
          <%= image_tag(user.profile_picture, class: "avatar-medium") %>
        <% end %>
      <% else %>
      <%= link_to profile_path(user) do %>
        <img src='https://res.cloudinary.com/dh8tpzykj/image/upload/v1582203695/avatar_empty_ghdihw.png' class="avatar-medium" />
        <% end %>
      <% end %>
    </div>

      <div class="instrument-card <%= "creator-card" if user == event.user %>">
        <h3><strong><%= user.participation(event).instrument.name %></strong></h3>
        <p><%= user.nick_name %></p>
        <p class="margin-creator"><em><%= "Creator" if user == event.user %></em></p>
      </div>

  <% end %>
</div>
