<div class="d-flex flex-row align-items-center mx-2">
  <% if user.id %>
    <div class="event-avatar">
      <% if user.profile_picture.attached? %>
        <%= image_tag(user.profile_picture, class: "avatar-medium") %>
      <% else %>
        <%= image_tag(User::PROFILE_ARRAY.sample, class: "avatar-medium") %>
      <% end %>
    </div>

      <div class="instrument-card <%= "creator-card" if user == event.user %>">
        <h3><strong><%= user.participation(event).instrument.name %></strong></h3>
        <p><%= user.nick_name %></p>
        <p><%= "- creator -" if user == event.user %></p>
      </div>

  <% end %>
</div>
