<%= render 'shared/banner-events' %>

<div class="event-container">
  <h3>List of events taking place</h3>

  <div class="events">
    <% @events.each do |event| %>
      <div class="event d-flex flex-row justify-content-between">
        <div class="event-left">
          <div class="event-header">
            <h3><%= event.title %> - <%= event.genre %></h3>
            <p><em>Last updated: <%= event.updated_at %></em></p>
          </div>

          <div class="event-content d-flex">
            <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
            <div>
              <p><small><%= event.user.nick_name %></small></p>
              <p><%= event.location %></p>
            </div>
          </div>
        </div>

        <div class="event-right">
          <p><small>Open availabilities: <%= event.capacity %></small></p>
          <p><small><%= event.event_type %></small></p>
          <button class="event-action" id="contact-btn-small">Details</button>
        </div>
      </div>
    <% end %>
  </div>
</div>





