
<div class="event-background filter-margin">
  <div class="event-container">
    <div class="search-bar h-50 d-flex align-items-end">
      <%= form_tag events_path, class: "d-flex flew-row", method: :get do %>
        <div class="d-flex flex-column">
          <div class="d-flex flex-row align-items-center fixed-top fixed-offset justify-content-center filters">
            <div class="d-flex flex-row">
              <select class="form-control" name="genre">
                <% option = params[:genre].nil? ? "" : params[:genre] %>
                <option value="<%= option %>">
                  <%= params[:genre].blank? ? "Select genre" : params[:genre] %>
                </option>
                <% @genres.each do |genre| %>
                  <option value="<%= genre %>"><%= genre %></option>
                <% end %>
              </select>

              <select class="form-control" name="instrument">
                <% option = params[:instrument].nil? ? "" : params[:instrument] %>
                <option value="<%= option %>">
                  <%= params[:instrument].blank? ? "Select instrument" : params[:instrument] %>
                </option>
                <% @instruments.each do |instrument| %>
                  <option value="<%= instrument %>"><%= instrument %>
                <% end %>
              </select>

              <select class="form-control" name="event_type">
                <% option = params[:event_type].nil? ? "" : params[:event_type] %>
                <option value="<%= option %>">
                  <%= params[:event_type].blank? ? "Select event type" : params[:event_type] %>
                </option>
                <% @event_types.each do |event_type| %>
                  <option value="<%= event_type %>"><%= event_type %></option>
                <% end %>
              </select>

              <select class="form-control" name="arrondissement">
                <% option = params[:arrondissement].nil? ? "" : params[:arrondissement] %>
                <option value="<%= option %>">
                  <%= params[:arrondissement].blank? ? "Select arrondissement" : params[:arrondissement] %>
                </option>
                <% @arrondissements.each do |arrondissement| %>
                  <option value="<%= arrondissement %>"><%= arrondissement %></option>
                <% end %>
              </select>
            </div>
            <button type="submit" value="Submit" id="search_icon" style="margin-left:40px;"><i class="fas fa-search"></i></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="event-background">
  <h2 class="title-events">AVAILABLE BANDS</h2>
  <div class="event-container">
    <div class="events">
      <%= render "events/events" %>
    </div>
  </div>
</div>
