<%= render 'shared/banner-events' %>

<div class="event-background">
  <div class="event-container">
    <h3>List of events taking place</h3>
    <div class="search-bar h-50 d-flex align-items-end">
      <%= form_tag events_path, class: "d-flex flew-row", method: :get, remote: true do %>
        <div class="d-flex flex-column">
<!--           <div class="d-flex flex-row align-items-center justify-content-between" style="width: 720px;">
            <p style="color: grey; width: 180px;">Select genre</p>
            <p style="color: grey; width: 180px;">Select instrument</p>
            <p style="color: grey; width: 180px;">Select event type</p>
            <p style="color: grey; width: 180px;">Select arrondissement</p>
          </div> -->

          <div class="d-flex flex-row align-items-center sticky-top sticky-offset">
            <div class="d-flex flex-row">
              <select class="form-control" name="genre">
                <% option = params[:genre].nil? ? "" : params[:genre] %>
                <option value="<%= option %>">
                  <%= params[:genre].nil? ? "Select genre" : params[:genre] %>
                </option>
                <% @genres.each do |genre| %>
                  <option value="<%= genre %>"><%= genre %></option>
                <% end %>
              </select>

              <select class="form-control" name="instrument">
                <% option = params[:instrument].nil? ? "" : params[:instrument] %>
                <option value="<%= option %>">
                  <%= params[:instrument].nil? ? "Select instrument" : params[:instrument] %>
                </option>
                <% @instruments.each do |instrument| %>
                  <option value="<%= instrument %>"><%= instrument %>
                <% end %>
              </select>

              <select class="form-control" name="event_type">
                <% option = params[:event_type].nil? ? "" : params[:event_type] %>
                <option value="<%= option %>">
                  <%= params[:event_type].nil? ? "Select event type" : params[:event_type] %>
                </option>
                <% @event_types.each do |event_type| %>
                  <option value="<%= event_type %>"><%= event_type %></option>
                <% end %>
              </select>

              <select class="form-control" name="arrondissement">
                <% option = params[:arrondissement].nil? ? "" : params[:arrondissement] %>
                <option value="<%= option %>">
                  <%= params[:arrondissement].nil? ? "Select arrondissement" : params[:arrondissement] %>
                </option>
                <% @arrondissements.each do |arrondissement| %>
                  <option value="<%= arrondissement %>"><%= arrondissement %></option>
                <% end %>
              </select>
            </div>

            <button type="submit" value="Submit" id="submit-btn-small">Submit</button>
          </div>
        </div>
      <% end %>
    </div>

    <div class="events">
      <%= render "events/events" %>
    </div>
  </div>
</div>





