<%= render 'shared/banner' %>

<div class="event-container">
  <h3>List of events taking place</h3>

  <div class="events">
    <% @events.each do |event| %>
      <div class="event d-flex flex-row justify-content-between">
        <div class="event-left">
          <div class="event-header">
            <h3><%= event.title %></h3>
            <p><em>Date: <%= event.date %></em></p>
          </div>

          <div class="event-content d-flex">
            <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
            <div>
              <p><small><%= event.user.nick_name %></small></p>
              <p><%= event.location %></p>
            </div>
          </div>
        </div>

        <div class="event-right d-flex flex-column justify-content-between">
          <p><small>Open availabilities: <%= event.capacity %></small></p>
          <div></div>
          <div class="event-action">
             <button id="contact-btn-small">Details</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>





