<div id="createe-event">
  <div class="content-wrapper">
     <div class="new-event-container1">
      <h2 class="title-event1">ADD AN EVENT</h2>
          <%= simple_form_for @event, html: { class: "new-event-content1" } do |f| %>
            <div class="new-form1">
              <%= f.input :event_type, collection: Event::TYPE_EVENT_ARRAY %>
              <%= f.input :genre, collection: Event::GENRE_ARRAY %>
              <%= f.input :title %>
              <%= f.input :location %>
              <%#= f.input :genre, collection: Event::GENRE_ARRAY %>
            </div>
            <div class="new-form2">
              <%#= f.input :event_type, collection: Event::TYPE_EVENT_ARRAY %>
              <%= simple_fields_for :my_instrument do |x| %>
                <%= x.input :choice, label: "MY INSTRUMENT CHOICE", collection: Event::EVENT_INSTRUMENTS_ARRAY %>
              <% end %>
              <div class="new-form3">
                <div class="new-form3-title">INSTRUMENT NEEDED</div>
                <div class="new-form4">
                  <%#= f.input :instruments_array, label: 'Instruments needed', collection: Event::EVENT_INSTRUMENTS_ARRAY1, as: :check_boxes, input_html: { multiple: true }, html: { class: "new-event-col" } %>
                  <%= f.input :instruments_array, label: "", collection: Event::EVENT_INSTRUMENTS_ARRAY1, as: :check_boxes, input_html: { multiple: true }, html: { class: "new-event-col1" } %>
                  <%= f.input :instruments_array, label: "", collection: Event::EVENT_INSTRUMENTS_ARRAY2, as: :check_boxes, input_html: { multiple: true }, html: { class: "new-event-col2" } %>
                  </div>
                  <!-- EVENT_INSTRUMENTS_ARRAY = ["Guitare", "Drum", "Piano", "Bass", "Triangle", "Maracass"] -->
    <!--               <input type="checkbox" id="event_instruments_array_guitare" name="Guitare" checked>
                  <label for="event_instruments_array_guitare">GUITARE</label>
                  <input type="checkbox" id="event_instruments_array_drum" name="DRUM" checked>
                  <label for="event_instruments_array_drum">DRUM</label> -->
              </div>
            </div>
            <div class="btn-form-add-event">
              <%= f.submit "CREATE", id: "events-new-btn" %>
            </div>
          <% end %>
    </div>
  </div>
</div>

