<div id="eventtt-show">
<div class="content-wrapper">
  <div class="event-back" style="margin-bottom: 32px">
  <div class="show-container">
    <div class="show-event d-flex">

      <div class="event-details d-flex w-100">

        <div class="d-flex flex-column">
          <div class="event-top d-flex flex-row justify-content-between">
            <div class="event-left">
              <div class="event-header mx-4">
                <h3><%= @event.genre %> - <%= @event.title %></h3>
                <div class="event-tag">
                  <p><strong><%= @event.event_type %></strong></p>
                </div>
                <p style="color: grey"><i class="fas fa-map-marker-alt"></i> <%= @event.location %></p>
              </div>
            </div>
          </div>

        <!-- <div class="d-flex flex-row justify-content-between"> -->
        <% if @event.user == current_user %>

          <div class="event-musicians d-flex flex-row">
            <% @event.participants.each do |user| %>
              <%= render 'user_card', user: user, event: @event %>
            <% end %>

            <% @event.instruments_array.each do |instrument| %>
              <%= render 'user_card_vacant', instrument: instrument %>
            <% end %>
          </div>
        </div>

        <% else %>

            <div class="event-musicians d-flex flex-row">
              <% @event.participants.each do |user| %>
                <%= render 'user_card', user: user, event: @event %>
              <% end %>

              <% @event.instruments_array.each do |instrument| %>
                <%= render 'user_card_vacant', instrument: instrument %>
              <% end %>
            </div>
          </div>

        <% if @event.contact_requests.where(user: current_user).empty? %>
        <%# if current_user.contact_request? %>
        <%# else %>
          <div class="contact-form contact-container flex-row w-25">
            <p><strong>Send request to join:</strong></p>
            <%= simple_form_for([@event, @new_contact_request]) do |f| %>
            <%= f.association :instrument, collection: @event.available_instruments, label: false, prompt: "Select instrument", required: false, class: "select" %>
            <textarea rows="3" cols="23" label="Message" name="message" id="contact_request_message" placeholder=" Your message"></textarea>
            <%= f.button :submit, "âœ‰ï¸ ASK TO JOIN", id: "contact-btn"%>
            <% end %>

          </div>
        <% end %>
        <% end %>

      </div>

    </div>

    <% if @event.user == current_user %>
      <div class="show-event">
        <h3>Candidates</h3>

        <p><em><%= "No candidate applications for your band yet." if @event.users.size < 2 %></em></p>
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">

            <% @event.users.where.not(id: @event.user).each do |user| %>
              <li role="presentation" class="">
                <a href="#id-<%= user.id %>" aria-controls="home" role="tab" data-toggle="tab">
                  <div class="d-flex flex-column align-items-center m-2">
                    <div>
                      <% if user.profile_picture.attached? %>
                        <%= cl_image_tag user.profile_picture.key, class: "avatar-small" %>
                      <% else %>
                        <img src='https://res.cloudinary.com/dh8tpzykj/image/upload/v1582203695/avatar_empty_ghdihw.png' class="avatar-small" />
                      <% end %>
                    </div>
                    <div>
                      <p style="color: grey"><small><%= user.nick_name %></small></p>
                    </div>
                    <div>
                      <!-- <p><small><%= user.contact_requests.find_by(event: @event).instrument.name %></small></p> -->
                    </div>
                  </div>
                </a>
              </li>
            <% end %>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <% @event.users.each do |user| %>
              <% request = ContactRequest.find_by(user: user, event: @event) %>
              <div role="tabpanel" class="tab-pane <%= 'active' if @last_message&.contact_request == request %>" id="id-<%= user.id %>">
                <% if request %>
                  <% messages = request.messages %>
                  <%= render 'events/chatroom', messages: messages, message: @message, request: request, creator: true %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    <% else %>
      <% request = ContactRequest.find_by(user: current_user, event: @event) %>
      <% if request %>
        <% messages = request.messages %>
        <%= render 'events/chatroom', messages: messages, message: @message, request: request, event: @event, creator: false  %>
      <% end %>
    <% end %>
  </div>
</div>
</div>
