<div class="event-page">

  <div class="event-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1580919986997-fa58f106f7d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
    <div class="container text-center">
      <%#= @event.user.first_name %>
        <div id="my-event-name"><h1><%= @event.title %></h1></div>
    </div>
  </div>

  <div class="main-content">
    <div class="content">
      <div class="list">
        <h5><strong> <%= @event.title %> </h5></strong>
        <p> <strong>Event type:</strong> <%= @event.event_type %> </p>
        <p> <strong>Genre:</strong> <%= @event.genre %> </p>
        <!-- <i id="people" class="fas fa-users"></i> -->
      </div>
      <div class="instruments-required">
        <p>Instruments needed:</p>
        <ul>
        <% @event.instruments_array.each do |instrument|  %>
          <li> <%= instrument %> </li>
        <% end %>
        </ul>
      </div>
      <div class="contact-form"> <%= simple_form_for([@event, @contact_request]) do |f| %>
        <%# arr = [] %>
        <%# @event.instruments_array.each do |instrument| %>
        <%# arr << Instrument.find_by(name: instrument) %>
        <%# end %>
        <%= f.association :instrument, collection: @event.instruments_array, label: "You play:", required: false %>
        <%= f.button :submit, "✉️ ASK TO JOIN", id: "profile-btn" %>
        <% end %>
      </div>
        <!-- <button id="contact-btn"><i class="far fa-paper-plane"></i> Contact</button> -->
    </div>
    <div class="members-of-group">
      <h3>Members of the group</h3>
        <% if @event.user.profile_picture.attached? %>
            <%= image_tag(@event.user.profile_picture, class: "avatar dropdown-toggle") %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle" %>
          <% end %>
        <p> <%= @event.user.nick_name %> </p>
    </div>
    <div class="comment">
      <h3>Comments</h3>
    </div>
  </div>



</div>
