<!DOCTYPE html>
<html>
  <head>
    <title>

    SOL'UT is an unique platform to unite musicians from all levels.
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/dh8tpzykj/image/upload/v1583314233/favicon_wqtkyo.png">

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <!-- <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/dh8tpzykj/image/upload/v1583314233/favicon_wqtkyo.png"> -->
    <%= favicon_link_tag "https://res.cloudinary.com/dh8tpzykj/image/upload/v1583314233/favicon_wqtkyo.png" %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <%= render 'shared/navbar' unless controller_name == "pages" && action_name == "home" %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' unless (controller_name == "pages" && action_name == "home") || (controller_name == "dashboard" && action_name == "show") %>
  </body>
</html>
