<!DOCTYPE html>
<html>
  <head>
    <title>SOLUT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/navbar' unless controller_name == "pages" && action_name == "home" %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
