<!DOCTYPE html>
<html>
  <head>
    <title>

    SOL'UT is an unique platform to unite musicians from all levels.
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/dh8tpzykj/image/upload/v1583314233/favicon_wqtkyo.png">
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <%= render 'shared/navbar' unless controller_name == "pages" && action_name == "home" %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' unless controller_name == "pages" && action_name == "home" %>
  </body>
</html>
